body, html { 
  overflow-x:hidden;
}
body { 
  background:#00B513 url('../img/bg_page.jpg') left top repeat-x;  
}

.ie6, .ie7 {
  height:670px;
}

#content { 
  min-height:670px; 
  background:url('../img/bg_zirafky.png') 20px 150px no-repeat; 
  position:relative; 
  z-index:100; 
  padding-left:350px; 
  min-width:670px;

}

.text-stred {
  text-align:center;
}

#kalendare {
  margin:90px auto 0;
}

$text-border-radius: 12px;
$text-box-shadow: 0px 0px 34px #fff;
$text-img-shadow: 0px 0px 34px #999;
$text_transition  : 500ms;
$pozvanka_transition  : 500ms;
$link_hover_scale : 1.25;

.text-stred img {
  -moz-box-shadow: $text-img-shadow; 
  -webkit-box-shadow: $text-img-shadow; 
  box-shadow: $text-img-shadow; 
}

.ie6 #text, .ie7   #text {
  height:610px;
}


#text { 
	margin:50px 0 0; 
	width:500px;
  padding:0;
	min-height:610px;
	background:#fff;
  color:#905000;
  position:relative;
  -webkit-font-smoothing:antialiased;
	background:rgba(255,255,255,0.5); 
  -ms-border-radius: $text-border-radius; 
  -moz-border-radius: $text-border-radius; 
  -webkit-border-radius: $text-border-radius; 
  border-radius: $text-border-radius;  
  -ms-box-shadow: $text-box-shadow; 
  -moz-box-shadow: $text-box-shadow; 
  -webkit-box-shadow: $text-box-shadow; 
  box-shadow: $text-box-shadow; 

  .stin {
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);     
  } 

  h1 {
    font-size:30px;
    margin:0 0 10px 0;
    text-shadow:0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);  
    text-align:center;
    line-height:1.7;
  }

  -webkit-transition: all $text_transition linear;
  -moz-transition: all $text_transition linear;
  -ms-transition: all $text_transition linear;
  -o-transition: all $text_transition linear;
  transition: all $text_transition linear;
  font-family: 'Architects Daughter', arial, serif;
  &:hover {
    background:rgba(255,255,255,0.8); 
  }

}

.odkaz-fotky {
  font-size:150%;
}


#mimco {
  margin-top:4px;
}


#odpocitadlo {
  position:absolute;
  bottom:40px;
  left:0;
  width:100%;  

}

@mixin hover-child {
  
    -webkit-transform: scale($link_hover_scale);
    -moz-transform: scale($link_hover_scale);
    -o-transform: scale($link_hover_scale);  
    -ms-transform: scale($link_hover_scale);  
    transform: scale($link_hover_scale); 
    color:#01B514;
}


#container {
  
  menu {
    position:absolute;
    left:850px;
    top:70px;
    z-index:1000;

    li {
      list-style:none;
      font-family: 'Architects Daughter', arial, serif;
      display:block;
      text-align:center;
      margin-left:-25px;

      &:nth-child(odd) {
        margin-left:-32px;
      }

      a {
        font-size:17px;
        text-decoration:none;
        color:#000;
        cursor:pointer;
        background:url('../img/mrak_menu.png') 0 0 no-repeat; 
        width:151px;
        height:111px;
        line-height:111px;
        display:block;
        -webkit-transition: all $text_transition linear;
        -moz-transition: all $text_transition linear;
        -ms-transition: all $text_transition linear;
        -o-transition: all $text_transition linear;
        transition: all $text_transition linear;
        text-shadow:0 0 2px #000;

      }

      &:nth-child(odd) a {
        -webkit-transform: rotate(-11deg);
        -moz-transform: rotate(-11deg);
        -ms-transform: rotate(-11deg);
        -o-transform: rotate(-11deg);
        transform: rotate(-11deg);
        &:hover, &:active {
          @include hover-child;
        }

      }
      &:nth-child(even) a {
         -webkit-transform: rotate(+5deg);
        -moz-transform: rotate(+5deg);
        -ms-transform: rotate(+5deg);
        -o-transform: rotate(+5deg);
        transform: rotate(+5deg);
        &:hover, &:active {
          @include hover-child;
        }
      }

      
    }

  }

}

.pozvanka {

    -webkit-transition: all $pozvanka_transition linear;
    -moz-transition: all $pozvanka_transition linear;
    -ms-transition: all $pozvanka_transition linear;
    -o-transition: all $pozvanka_transition linear;
    transition: all $pozvanka_transition linear;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);  
    transform: rotate(2deg);

    &:hover {
      -webkit-transform: rotate(0deg) scale(1.05);
      -moz-transform: rotate(0deg) scale(1.05);
      -ms-transform: rotate(0deg) scale(1.05);
      -o-transform: rotate(0deg) scale(1.05);  
      transform: rotate(0deg) scale(1.05);

  }

}

#text-container {
  padding:15px;
  font-size:20px;

}

.js #texty .text {
  display:none;  
}

#text-container .popis {
  padding:15px;
  font-size:16px;

  p {
    text-align:justify;
    margin:0 0 1em 0;
  }

  a {
    color:#000;
  }

  .foto-right {
    float:right;
    margin:0 0 5px 15px;

  }

  li {
    margin-bottom:5px;
    font-size:120%;    
    list-style:none
  }

  img {
    -moz-box-shadow: $text-img-shadow; 
    -ms-box-shadow: $text-img-shadow; 
    -webkit-box-shadow: $text-img-shadow; 
    box-shadow: $text-img-shadow;     
  }

}


$mrak-timing-function: linear;

/* sekce s mraky */

.mrakl, .mrakr {
  position:fixed;
  position:absolute;
  z-index:5;

  -webkit-animation-name: mrak-move-r;
  -webkit-animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition: none;
  -webkit-transition-timing-function: $mrak-timing-function;
  -webkit-animation-direction: normal;

  -moz-animation-name: mrak-move-r;
  -moz-animation-duration: 50s;
  -moz-animation-iteration-count: infinite;
  -moz-transition: none;
  -moz-transition-timing-function: $mrak-timing-function;
  -moz-animation-direction: normal;

  -o-animation-name: mrak-move-r;
  -o-animation-duration: 50s;
  -o-animation-iteration-count: infinite;
  -o-transition: none;
  -o-transition-timing-function: $mrak-timing-function;

  -ms-animation-name: mrak-move-r;
  -ms-animation-duration: 50s;
  -ms-animation-iteration-count: infinite;
  -ms-transition: none;
  -ms-transition-timing-function: $mrak-timing-function;

  animation-name: mrak-move-r;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  transition: none;
  transition-timing-function: $mrak-timing-function;
  

}

.mrakr {
  -webkit-animation-name: mrak-move-l;
  -moz-animation-name: mrak-move-l;
  -o-animation-name: mrak-move-l;
  -ms-animation-name: mrak-move-l;
}

@mixin mrak-move-r {
  from {
    -webkit-transform: translate(-100px);
    -ms-transform: translate(-100px);
  }
  0% {
    -moz-transform: translate(-100px);
  }
  50% {
    -webkit-transform: translate(200px);
    -o-transform: translate(200px);
    -ms-transform: translate(200px);
  }
  to {
    -webkit-transform: translate(-100px);
    -o-transform: translate(-100px);
    -ms-transform: translate(-100px);
  }
  100% {
    -moz-transform: translate(-100px);
  }
}

@mixin mrak-move-l {
  from {
    -webkit-transform: translate(100px);
    -o-transform: translate(100px);
    -ms-transform: translate(100px);
  }
  0% {
    -moz-transform: translate(100px);
  }
  50% {
    -webkit-transform: translate(-200px);
    -o-transform: translate(-200px);
    -moz-transform: translate(-200px);
    -ms-transform: translate(-200px);
  }
  100% {
    -moz-transform: translate(100px);
  } 
  to {
    -webkit-transform: translate(100px);    
    -o-transform: translate(100px);    
    -ms-transform: translate(100px);    
  }
}


@-webkit-keyframes mrak-move-r {
  @include mrak-move-r;
}     

@-webkit-keyframes mrak-move-l {
  @include mrak-move-l;
}     

@-moz-keyframes mrak-move-r {
  @include mrak-move-r; 
}     

@-moz-keyframes mrak-move-l {
  @include mrak-move-l;
}     

@-o-keyframes mrak-move-r {
  @include mrak-move-r; 
}     

@-o-keyframes mrak-move-l {
  @include mrak-move-l; 
}      

@keyframes mrak-move-r {
  @include mrak-move-r; 
 
}     

@keyframes mrak-move-l {
  @include mrak-move-l;
} 

.speed1 {
  -webkit-animation-duration: 165s;
}
.speed2 {
  -webkit-animation-duration: 170s;
}
.speed3 {
  -webkit-animation-duration: 175s;
}
.speed4 {
  -webkit-animation-duration: 180s;
}
.speed5 {
  -webkit-animation-duration: 185s;
}
.speed6 {
  -webkit-animation-duration: 190s;
}
.speed7 {
  -webkit-animation-duration: 195s;
}
.speed8 {
  -webkit-animation-duration: 200s;
}
.speed9 {
  -webkit-animation-duration: 205s;
}
.speed10 {
  -webkit-animation-duration: 210s;
}
.speed11 {
  -webkit-animation-duration: 215s;
}
.speed12 {
  -webkit-animation-duration: 220s;
}
.speed13 {
  -webkit-animation-duration: 225s;
}
.speed14 {
  -webkit-animation-duration: 230s;
}
.speed15 {
  -webkit-animation-duration: 235s;
}
.speed16 {
  -webkit-animation-duration: 240s;
}
.speed17 {
  -webkit-animation-duration: 245s;
}
.speed18 {
  -webkit-animation-duration: 250s;
}
.speed19 {
  -webkit-animation-duration: 255s;
}
.speed20 {
  -webkit-animation-duration: 260s;
}


$mrak_scale_2 : 0.77;

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) { 

  #content {
    background:none;
    padding-left:50px;
    min-width:250px;
    max-width:550px;
    margin:0 auto;
  }

  #container {
    background:url('../img/bg_zirafky_small.png') 5px 450px no-repeat;

    menu {
      position:relative;
      top:-20px;
      left:30px;
      li {
      float:left;        
        -webkit-transform: scale($mrak_scale_2);
        -moz-transform: scale($mrak_scale_2);
        -ms-transform: scale($mrak_scale_2);
        -o-transform: scale($mrak_scale_2);  
        transform: scale($mrak_scale_2);          
      }
    }
  }

  #text {
    width:90%;
  }

}

@media only screen and (max-width: 350px), only screen and (max-device-width: 350px) { 

  #content {
    padding-left:20px;
    margin:0;
  }

  .foto-right {
    float:none;
    max-width:100%;
  }



  body, html {
    /*overflow:auto;*/
  }
  

}
