body, html { overflow-x:hidden; min-width:870px }
body { background:#00B513 url('../img/bg_page.jpg') left top repeat-x;  }
#content { height:650px; background:url('../img/bg_zirafky.png') 20px 150px no-repeat; position:relative; z-index:100; padding-left:350px; }
#text { 
	margin:50px 0 0; 
	width:500px; 
	height:600px;
	background:#fff;
  color:#fff;
	background:rgba(255,255,255,0.6); 
     -moz-border-radius: 12px; 
  -webkit-border-radius: 12px; 
          border-radius: 12px;  
     -moz-box-shadow: 0px 0px 34px #fff; 
  -webkit-box-shadow: 0px 0px 34px #fff; 
          box-shadow: 0px 0px 34px #fff; 
}
#text-container {
  padding:15px; 
  font-size:17px;
  text-shadow:0 1px 0 #ccc,
     0 2px 0 #c9c9c9,
     0 3px 0 #bbb,
     0 4px 0 #b9b9b9,
     0 5px 0 #aaa,
     0 6px 1px rgba(0,0,0,.1),
     0 0 5px rgba(0,0,0,.1),
     0 1px 3px rgba(0,0,0,.3),
     0 3px 5px rgba(0,0,0,.2),
     0 5px 10px rgba(0,0,0,.25),
     0 10px 10px rgba(0,0,0,.2),
     0 20px 20px rgba(0,0,0,.15);
  /*text-shadow: 1px 1px 3px #888;*/
}

#text h1 {
font-size:27px;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);  
}


/* sekce s mraky */

  .mrakl, .mrakr {
    -webkit-animation-name: mrak-move-r;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition: none;
    -webkit-transition-timing-function: linear;

    -moz-animation-name: mrak-move-r;
    -moz-animation-duration: 50s;
    -moz-animation-iteration-count: infinite;
    -moz-transition: none;
    -moz-transition-timing-function: linear;

    -o-animation-name: mrak-move-r;
    -o-animation-duration: 50s;
    -o-animation-iteration-count: infinite;
    -o-transition: none;
    -o-transition-timing-function: linear;

    animation-name: mrak-move-r;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    transition: none;
    transition-timing-function: linear;
    

  }

  .mrakr {
    -webkit-animation-name: mrak-move-l;
    -moz-animation-name: mrak-move-l;
  }

  @-webkit-keyframes mrak-move-r {
    from {
      -webkit-transform: translate(-100px);
    }
    50% {
      -webkit-transform: translate(2000px);
    }
    to {
      -webkit-transform: translate(-400px);
    } 
  }     

  @-webkit-keyframes mrak-move-l {
    from {
      -webkit-transform: translate(100px);
    }
    50% {
      -webkit-transform: translate(-2000px);
    }
    to {
      -webkit-transform: translate(400px);
    } 
  }     

  @-moz-keyframes mrak-move-r {
    0% {
      left: -100px;
    }
    50% {
      left: 2000px;
    }
    100% {
      left:-400px;
    } 
  }     

  @-moz-keyframes mrak-move-l {
    from {
      -moz-transform: translate(100px);
    }
    50% {
      -moz-transform: translate(-2000px);
    }
    to {
      -moz-transform: translate(400px);
    } 
  }     

  @-o-keyframes mrak-move-r {
    from {
      -o-transform: translate(-100px);
    }
    50% {
      -o-transform: translate(2000px);
    }
    to {
      -o-transform: translate(-400px);
    } 
  }     

  @-o-keyframes mrak-move-l {
    0% {
      -o-transform: translate(100px);
    }
    50% {
      -o-transform: translate(-2000px);
    }
    100% {
      -o-transform: translate(400px);
    } 
  }      

  @keyframes mrak-move-r {
    from {
      transform: translate(-100px);
    }
    50% {
      transform: translate(2000px);
    }
    to {
      transform: translate(-400px);
    } 
  }     

  @keyframes mrak-move-l {
    from {
      transform: translate(100px);
    }
    50% {
      transform: translate(-2000px);
    }
    to {
      transform: translate(400px);
    } 
  } 

      

        .speed1 {

          -webkit-animation-duration: 65s;

        }

      

        .speed2 {

          -webkit-animation-duration: 70s;

        }

      

        .speed3 {

          -webkit-animation-duration: 75s;

        }

      

        .speed4 {

          -webkit-animation-duration: 80s;

        }

      

        .speed5 {

          -webkit-animation-duration: 85s;

        }

      

        .speed6 {

          -webkit-animation-duration: 90s;

        }

      

        .speed7 {

          -webkit-animation-duration: 95s;

        }

      

        .speed8 {

          -webkit-animation-duration: 100s;

        }

      

        .speed9 {

          -webkit-animation-duration: 105s;

        }

      

        .speed10 {

          -webkit-animation-duration: 110s;

        }

      

        .speed11 {

          -webkit-animation-duration: 115s;

        }

      

        .speed12 {

          -webkit-animation-duration: 120s;

        }

      

        .speed13 {

          -webkit-animation-duration: 125s;

        }

      

        .speed14 {

          -webkit-animation-duration: 130s;

        }

      

        .speed15 {

          -webkit-animation-duration: 135s;

        }

      

        .speed16 {

          -webkit-animation-duration: 140s;

        }

      

        .speed17 {

          -webkit-animation-duration: 145s;

        }

      

        .speed18 {

          -webkit-animation-duration: 150s;

        }

      

        .speed19 {

          -webkit-animation-duration: 155s;

        }

      

        .speed20 {

          -webkit-animation-duration: 160s;

        }

      



